<p><i class="fa fa-home fa-lg fa-fw"></i> <a href="http://www.fmaturana.cl/" target="_blank">home</a></p>
<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/frmatura/" target="_blank">@frmatura</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/francisco-maturana-a9365b201/" target="_blank">linkedin.com/in/frmatura</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:frmatura@gmail.com" target="_blank">frmatura@gmail.com</a></p>
<p><i class="fa fa-futbol-o fa-lg fa-fw"></i> <a href="https://nx29867.your-storageshare.de/s/GZEJ93oEs62Qkff" target="_blank">currículum completo</a></p>
<p><i class="fa fa-book fa-lg fa-fw"></i> <a href="http://fmaturana.cl/Fondecyt_1230159/" target="_blank">LATSA</a></p>
<p><i class="fa fa-book fa-lg fa-fw"></i> <a href="http://fmaturana.cl/Fondecyt_1230159/" target="_blank">Fondecyt 1230159</a></p>
<p><i class="fa fa-signal fa-lg fa-fw"></i> <a href="https://git.mtnlss.co/vismat/" target="_blank">Visor de simulación de cambio y uso de cobertura de suelo al año 2040, Comuna de Valdivia</a></p>
<p><i class="fa fa-signal fa-lg fa-fw"></i> <a href="http://fmaturana.cl/visorservicios/dashboard" target="_blank">Visor de provisión de servicios básicos</a></p>
<p><i class="fa fa-signal fa-lg fa-fw"></i> <a href="https://desplazamientos.fmaturana.cl/" target="_blank">Visor de tiempos de desplazamientos a servicios básicos</a></p>
