<p><i class="fa fa-home fa-lg fa-fw"></i> <a href="http://www.fmaturana.cl/" target="_blank">home</a></p>
<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/frmatura/" target="_blank">@frmatura</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://cl.linkedin.com/pub/francisco-maturana-miranda/28/b09/4a3" target="_blank">linkedin.com/in/frmatura</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:frmatura@gmail.com" target="_blank">frmatura@gmail.com</a></p>
<p><i class="fa fa-futbol-o fa-lg fa-fw"></i> <a href="https://www.dropbox.com/s/uyy78scme5ogbf9/CV_Maturana.pdf?dl=0" target="_blank">currículum completo</a></p>
